:root {
  /* primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* neutral colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  /* fonts */
  --default-font-size: 0.9375rem; /* 15px */
  --default-font: "Lexend Deca", sans-serif;
  --bold-font: "Big Shoulders Display", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  background-color: var(--very-light-gray);
  min-height: 50rem;
  display: flex;
  align-items: center;
}

.container {
  max-width: 50rem;
  border-radius: 0.625rem;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

/* section elements */

.car-type {
  padding: 2.5rem;
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-type img {
  width: 3.5rem;
}

.car-type p {
  color: var(--transparent-white);
  line-height: 1.5;
  margin: 0;
  flex-grow: 1;
}

.car-type h2 {
  color: var(--very-light-gray);
  font-size: 2rem;
  font-family: var(--bold-font);
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.car-type button {
  background: var(--very-light-gray);
  width: 8rem;
  font-family: var(--default-font);
  padding: 0.6255rem 1.5rem 0.6255rem 1.5rem;
  border: 2px solid var(--very-light-gray);
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.car-type button:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}

/* button font colors */
.sedans__font-color {
  color: var(--bright-orange);
}

.suvs__font-color {
  color: var(--dark-cyan);
}

.luxury__font-color {
  color: var(--very-dark-cyan);
}

/* car type colors */
.sedans__background-color {
  background-color: var(--bright-orange);
}

.suvs__background-color {
  background-color: var(--dark-cyan);
}

.luxury__background-color {
  background-color: var(--very-dark-cyan);
}

@media only screen and (max-width: 768px) {
  body {
    min-height: 80rem;
    display: flex;
    align-items: center;
  }
  .container {
    flex-direction: column;
  }

  .car-type {
    min-height: 20rem;
    max-width: 11.76rem;
  }
}
